{% extends './dashboard_base.html' %}
{% load static %}
{% load youtor_utils %}

{% block title_block %}
Youtor - change-password
{% endblock %}


{% block include_static_cssblock1 %}
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
<link rel="stylesheet" href="{% static 'assets/css/material-dashboard.css' %}" />

{% endblock %}

<style>

div#navbarNavDropdown .navbar .collapse .navbar-nav .nav-item .nav-link {
		font-size: 16px;
		font-weight: 600;
		color: #de830d;
		padding: 4px 8px;
		letter-spacing: 0.3px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		text-transform: capitalize;
	}
    </style>
{% block dashboard_main_content %}
<div class=" content user_profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Change Password</h4>
                        <p class="card-category">change your password here</p>
                    </div>
                    <div class="card-body">
                        <!-- <form id="userProfileForm" name="userProfileForm" enctype="multipart/form-data" action="{% url 'user_profile' %}" method="POST" onsubmit="return validateFormSK(this)"> -->
                        {% csrf_token %}
                        <!-- <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_form.user.first_name.id_for_label }}">Fist
                                                    Name</label>
                                                {{ user_form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_form.last_name.id_for_label }}">Last
                                                    Name</label>
                                                {{ user_form.last_name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_form.email.id_for_label }}">Email
                                                    address</label>
                                                <br>
                                                {{ user.email }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_profile_form.contact.id_for_label }}">Contact</label>
                                                {{ user_profile_form.contact }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_profile_form.year_of_study.id_for_label }}">Year of
                                                    Study</label>
                                                {{ user_profile_form.year_of_study }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"
                                                    for="{{ user_profile_form.major.id_for_label }}">Major</label>
                                                {{ user_profile_form.major }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {% if user_profile_instance.profile_image %}
                                    <div class="display-profile-img">
                                        <img id="profile-img" src="{{ user_profile_instance.profile_image.url }}">
                                    </div>
                                    {% else %}
                                    <div class="display-profile-img">
                                        <img id="user_image" class="img" width="130" height="130" src="{% static 'img/default-user.png' %}" />
                                    </div>
                                    {% endif %}
                                    <div class="user-profile-image form-group">
                                        <label class="bmd-label-floating"
                                            for="{{ user_profile_form.profile_image.id_for_label }}">Upload your
                                            picture:
                                        </label>
                                        <input type="file" name="profile_image" accept="image/*" onchange="document.getElementById('profile-img').src = window.URL.createObjectURL(this.files[0])" class="form-control" id="id_profile_image">
                                    </div>
                                </div>
                            </div> -->
                        <!-- {{ form }}
                            <button type="submit">Save changes</button> -->

                        <form method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            <div class="form-group ">
                                <input class="form-control" type="password" name="old_password" autofocus required
                                    id="id_old_password" placeholder="old password">
                            </div>
                            <div class="form-group ">
                                <input class="form-control" type="password" name="new_password1" required
                                    id="id_new_password1" placeholder="new password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="new_password2" required
                                    id="id_new_password2" placeholder="re-enter password">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        <hr>
                        <p style="color: red;"> NOTE : </p>
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}